<form id="add-item-form" action="/cart/add" data-productid="704512000051" method="post"> 
 
    <script>
//       function becomeAnAdvocate(e){
//         e.preventDefault();
//         Shopify.addItemFromForm('add-item-form', 8456318025779, function callback(){
//           console.log("added to cart!");
//         });
//       }
      
//       window.
//       jQuery('#becomeAnAdvocate').click(function(e) {
//         e.preventDefault();
//         Shopify.addItemFromForm('add-item-form', 8456318025779, function callback(){
//           console.log("added to cart!");
//         });
//       });
    </script> 

    
    <input type="hidden" name="id" data-productid="704512000051" value="8456318025779">
    
  	<button id="becomeAnAdvocate" class="button red">BECOME AN ADVOCATE</button>

     
    
  </form>

<!-- <button id="becomeAnAdvocate" class="button red"><a href="/cart/8456318025779:1">BECOME AN ADVOCATE</a></button> -->
