<!-- FOOTER section -->
<footer class="layout-3">
 <div class="cart-footer-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 cart-ftr-menu">
		{% section 'footer-left' %}
      </div>
      <div class="col-sm-5 cart-subscribe">
        {% section 'footer-right' %}
      </div>  
    </div>
    <div class="copyright">{{ settings.footer_address }}</div>
  </div>
</div>
  
  <a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop">Back to top <span class="icon icon-expand_less"></span></a> 
</footer>